body {margin: 0;
background-color: black;
font-family: monospace;}

header {
	height: 5em;
	background-color: rgba(50, 50, 50, 0.5);
	align-items: center;
	justify-content: center;	
	display: flex;
}

h1 {
	margin: 0;
	color: white;
}

.section {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px 0px 20px 0px;

	}




p {
	font-size: 1.5rem;
	text-align: center;
	border-bottom: black solid 5px;
	border-radius: 50%;
	margin: 0px;
	margin-bottom: 10px;
	color: grey;
}

main
	{
		text-align: center;
		margin-top: 50px;
	}

#canvas{background-color: black;}

#buttons{
	text-align: center;
}


#highScore
{
	
	background-color: black;
	border-style: none;
	color: rgb(0, 255, 0);		
}

label{
	color: white;
}
