body {margin: 0;
background-color: black;
font-family: monospace;}

header {
	height: 5em;
	background-color: rgba(50, 50, 50, 0.5);
	align-items: center;
	justify-content: center;	
	display: flex;
}

h1 {
	margin: 0;
	color: white;
}

.section {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px 0px 20px 0px;

	}




p {
	font-size: 1.5rem;
	text-align: center;
	border-bottom: black solid 5px;
	border-radius: 50%;
	margin: 0px;
	margin-bottom: 10px;
}



input {
	padding: 10px;
	margin: 1px;
	background-color: rgb(30,30,30);
	color: white;
	transition-duration: 0.4s;
	border-radius: 5px;
	border: none;

}

input:hover {
	background-color: grey;
	transition-duration: 0.2s;
}



/*grid placment*/
	#calculatorBox 
		{

			text-align: center;
			width: 30%;
			margin: auto;
			display: grid;
			grid-template-columns: 70px 70px 70px 70px ;
			grid-template-rows: 70px 70px 70px 70px 70px;
			justify-content: center;
			margin-top: 50px;

		}
	#result {
	color: white;
	grid-column-start: 1;
	grid-column-end: 4;
	}


	#clearAll{
		background-color: rgba(180, 20, 20,0.5);
		grid-column-start: 4;
		grid-column-end: 5;
	}
	#clearAll:hover{background-color: rgba(180, 20, 20,1);}

	#num7{grid-column-start: 1;
		grid-column-end: 2;}

	#num8{grid-column-start: 2;
		grid-column-end: 3;}

	#num9{grid-column-start: 3;
		grid-column-end: 4;}

	#add{grid-column-start:4;
		grid-column-end: 5;}

	#num4{grid-column-start: 1;
		grid-column-end: 2;}

	#num5{grid-column-start: 2;
		grid-column-end: 3;}

	#num6{grid-column-start: 3;
		grid-column-end: 4;}

	#sub{grid-column-start:4;
		grid-column-end: 5;}

	#num1{grid-column-start: 1;
		grid-column-end: 2;}

	#num2{grid-column-start: 2;
		grid-column-end: 3;}

	#num3{grid-column-start: 3;
		grid-column-end: 4;}

	#multi{grid-column-start:4;
		grid-column-end: 5;}

	#divide{grid-column-start: 1;
		grid-column-end: 2;}

	#num0{grid-column-start: 2;
		grid-column-end: 3;}

	#dot{grid-column-start: 3;
		grid-column-end: 4;}

	#equal{grid-column-start:4;
		grid-column-end: 5;}


